.serviceOverlay{
    background-image: linear-gradient(to right, rgb(238, 181, 235),rgb(188, 236, 222),rgb(188, 236, 222),rgb(245, 186, 230));
background-repeat: no-repeat;
background-position: 100% 100%;
background-size: cover;
}